<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인</title>
</head>
<body>
    <h1>메인</h1>
    <hr>
    <h2 th:text="${title}"></h2>
    <h2 th:text="${msg}"></h2>
    <hr>
    <a th:href="@{/board}">게시판 목록</a>
    <div sec:authorize="isAnonymous()">
        <span style="color:deeppink;font-size:20px">로그인하지 않은 사람</span>
        <p>
            <a th:href="@{/member/new}">회원가입</a>
            <a th:href="@{/member/login}">로그인</a>
        </p>
    </div>
    <div sec:authorize="isAuthenticated()">
        <div sec:authorize="hasRole('USER')">user권한일 경우</div>
        <div sec:authorize="hasRole('ADMIN')">admin권한일 경우</div>
        <div>
            <span sec:authorize="isAuthenticated()">로그인해서 인증을 받은 사람</span>
        </div>
        <div>인증받은 사람 :  <span sec:authentication="name"></span></div>
        <div>인증받은 사람의 권한 :  <span sec:authentication="principal.authorities"></span></div>
    </div>
</body>
</html>